//
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	Copyright (C) 2017-2018 KKuTu Korea(admin@kkutu.co.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.

include module

doctype html
html
	head
		title= L('title')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no')
		+PageHead()
	body
		span#locale= JSON.stringify(LANG)
		span#before= locals.before
		button.back(onclick="location.href='"+locals.before+"';") X
		div.login-title KKUTU KOREA 로그인
		a(href="/login/naver")
			button.with-naver
				div.icon
					img(src=DOMAIN+"/img/social/naver.png")
				div.login-text= L('withNaver')
		a(href="/login/facebook")
			button.with-facebook
				div.icon
					img(src=DOMAIN+"/img/social/facebook.png")
				div.login-text= L('withFacebook')
		a(href="/login/kakao")
			button.with-kakao
				div.icon
					img(src=DOMAIN+"/img/social/kakao.png")
				div.login-text= L('withKakao')
		a(href="/login/twitter")
			button.with-twitter
				div.icon
					img(src=DOMAIN+"/img/social/twitter.png")
				div.login-text= L('withTwitter')
		a(href="/login/google")
			button.with-google
				div.icon
					img(src=DOMAIN+"/img/social/google.png")
				div.login-text= L('withGoogle')
		div.login-legal!= L('loginLegal')
