//
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	Copyright (C) 2017-2018 KKuTu Korea(admin@kkutu.co.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
	
include module

- if(LANG == undefined) LANG = locals.locale;

doctype html
html
	head
		block Subject
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no')
		script(type='text/javascript').
			function getObject(v, i){
				Object.defineProperty(v, i, { value: v[i], writable: false });
			}
			getObject(window.WebSocket, "send");
			getObject(window.WebSocket, "onmessage");
			getObject(window, "WebSocket");
		
		block Search
			meta(name='description', content=LANG['meta_desc'] || L('META_DESC'))
			meta(name='keywords', content=LANG['meta_keys'] || L('META_KEYS'))
		
		block OpenGraph
			meta(property='og:image', content=locals.ogImage)
			meta(property='og:url', content=locals.ogURL)
			meta(property='og:title', content=locals.ogTitle)
			meta(property='og:description', content=locals.ogDescription)
		
		+PageHead()
			block Preload
		block CSS
		block JS
	
	body(style='min-width: 200px;')
		div#Top
			+MMenu()
			div#global-notice
				div#gn-content
					include ../public/global_notice.html
			block Top
		div#Jungle
			span#mobile= locals.mobile
			span#summonerID= DATA._id
			img#Background(style=GAMEBG)
			block Jungle
		div#Middle
			block Middle
		div#Bottom
			block Bottom
			if locals.as_pc
				a(href='?')= L('AS_MOBILE')
			div.bottom-legal
				a(href='/operation.html', target='_blank') 운영정책
				| ·
				a(href='/privacy.html', target='_blank') 개인정보처리방침
				| ·
				a(href='/cafe', target='_blank') 공식카페
				| ·
				a(href='/facebook', target='_blank') 페이스북
				| ·
				a(href='/youtube', target='_blank') 유튜브
				| ·
				a(href='/discord', target='_blank') 디스코드
				//div.fb-like(data-href='https://www.facebook.com/kkutukorea', data-width='300', data-layout='button_count', data-action='like', data-show-faces='false')
			div.bottom-legal
				div!= L('DICTIONARY')
			div.bottom-legal!= L('CREATOR')
			div.bottom-legal!= L('LICENSE')
			div(style="display:none;")!="<div style='color: #666;'>글자로 놀자! 끄투 온라인 Copyright (C) 2017 Climax(admin@kkutu.co.kr)<br>이 프로그램은 제품에 대한 어떠한 형태의 보증도 제공되지 않습니다.<br>이 프로그램은 자유 소프트웨어이며 배포 규정을 만족시키는 조건 아래 자유롭게 재배포할 수 있습니다.<br>이에 대한 자세한 사항은 본 프로그램의 구현을 담은 다음 레포지토리에서 확인하십시오: <a target='_blank' href='https://github.com/Kim-Daewoon/KKuTu'>https://github.com/Kim-Daewoon/KKuTu</a></div>"
			+separator(10)
		div#fb-root
